/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: red;
  padding: 6px;
  font-size: 0.9rem;
}

.workout-details span::after {
  content: "";
  position: absolute;
  background-color: red;
  height: 2px;
  width: 0;
  left: 6px;
  bottom: 3px;
  transition: 0.2s;
}

.workout-details span:hover::after {
  width: 85%;
}
